.searchbar{
    position: absolute;
    right: 200px;
}
.user_icon{
    font-size: 140%;
    right: 0px;
    top: 5px;
    left: 135%;
}
.cart_icon{
    font-size: 140%;
    position: absolute;
    top: 5px;
    left: 155%;
}